.calenderHeight{
    height: 500px
}

.rbc-toolbar {
    font-size: 13px;
}

.rbc-toolbar .rbc-toolbar-label {
    padding: 5px 10px !important;
}

@media (max-width: 767px) {
    .rbc-toolbar {
        font-size: 12px !important;
    }
}