.btn-sm svg {
  width: 10px !important;
  height: 10px !important;
  stroke-width: 2.5;
}

.btn-md svg {
  width: 12px !important;
  height: 12px !important;
  stroke-width: 2.5;
}

.btn-lg svg {
  width: 14px !important;
  height: 14px !important;
  stroke-width: 2.5;
}

.alignClass {
  top: -1px;
}

.theme-dark .btn-light {
  color: #2b2b2b;
}

.theme-dark .btn-light svg{
  color: #2b2b2b;
}
.btn-link{  
  /* color: #0969DA; */
  text-decoration: underline;
  font-weight: bold;
  font-size: small;
  padding-left: 0px !important;
}
.border-primary {
  border: 2px solid #7e2eef !important;
  font-weight: 500 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-unset {
  text-transform: unset;
}